$shadow-light: rgba(0, 0, 0, 0.2);
$box-shadow-light: 0 0 10px $shadow-light;
$body-background-color: #E7E7E7;
$step-card-background: #FFFFFF;

body {
    background-color: $body-background-color;
}

.course-progress {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    /* remove the default ol - list number */
    list-style: none;
    /* remove space generate with ol - list number */

    padding-inline-start: 0;
    /* reset the step-counter */
    counter-reset: step-counter;


    .course-step {

        /* boder style */
        box-shadow: $box-shadow-light;
        border-radius: 5px;

        /* box style */
        padding: 20px;
        background-color: $step-card-background;

        /* step-counter increase */
        counter-increment: step-counter;

        /* allow the progress-bar's positionning */
        position: relative;
        /* remove the effection from progress-bar's positionning */
        overflow: hidden;


        .progress-bar {

            /* size */
            height: 15px;
            width: 100%;

            /* positioning */
            position: absolute;
            margin: -20px;

            /* presetting variable */
            $theme-color: hsl(calc(200 + (var(--i) - 1) * 60), 70%, 50%);
            $theme-color-light: hsl(calc(200 + (var(--i) - 1) * 60), 40%, 80%);


            /* get the progress bar shown by color base on --i */
            background: linear-gradient(to right,
                    $theme-color calc(var(--i) * 20%),
                    $theme-color-light calc(var(--i) * 20%)),
        }

        h3 {
            display: flex;
            align-items: center;

            &::before {
                content: counter(step-counter);
                $theme-color: hsl(calc(200 + (var(--i) - 1) * 60), 70%, 50%);

                /* the circle wrapping the list number */
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $theme-color;

                /* List number color */
                color: white;

                display: inline-block;
                text-align: center;
                line-height: 50px;
                margin: 10px 20px;
                flex-shrink: 0;
            }
        }
    }
}

#list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}